<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title><%= title %></title>
  
    <!-- Custom fonts for this template-->
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="/sb-admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/sb-admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style>
            .alert2 {
              position: fixed;
              top: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
              z-index: 9999;
              color: #fff;
              font-size: 1.8rem;
              font-weight: 400;
              text-align: center;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              padding: 1.6rem 15rem;
              -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
              box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
            }
            .alert--success {
               background-color: #20bf6b;
            }
            .alert--error {
               background-color: #eb4d4b;
            }
    </style>
  </head>
  
  <body id="page-top">